<html>
  <!DOCTYPE html>
<link rel="stylesheet" href="style.css" />

<body>
  <div id="app">
  <h1>{{ title }}</h1>

  <div class="scene">
    <div class="camera " :class="{walking : walking}">

      <div class="cell" v-for="(cell,index) in rotate(cells)" 
        v-if="visible(cell)"
        :style="{transform : transform(cell) }">
          <div v-if="cell.floor" 
            class="tile floor" 
            :style="{filter : brightness(cell) }" >
          </div>
          <div v-if="cell.floor" class="tile ceiling" :style="{filter : brightness(cell) }" ></div>
          <div v-if="cell.wall" class="tile left wall" :style="{filter : brightness(cell) }"></div>
          <div v-if="cell.wall" class="tile right wall" :style="{filter : brightness(cell) }"></div>
          <div v-if="cell.wall" class="tile back wall" :style="{filter : brightness(cell) }"></div>
          <div v-if="cell.wall" class="tile front wall" :style="{filter : brightness(cell) }"></div>
      </div>

    </div>
  </div>

  <div id="map" class="map" :style="{width: mapSize, height: mapSize}">
    <div class="map-cell" 
      v-for="(cell,index) in translate(cells)"
      v-if="showOnMap(cell)"
      :class="getTileType(cell)" 
      :style="{
        transform : mapTransform(cell), 
        width : mapCellSize()+'px',
        height : mapCellSize()+'px'
      }">
    </div>
  </div>

</div>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!-- production version, optimized for size and speed -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

  <script src="script.js" ></script>

</body>
</html>