* {
  box-sizing: border-box;
}
body {
  background: #000;
  overflow: hidden;
}
h1 {
  color: brown;
  text-align: center;
}
.scene {
  perspective: 300px;
  margin: auto;
  width: 300px; 
  height: 184px; 

  background: #000;
  overflow: hidden;
  transform-origin: top;
  transform: scale(3);
  background-image: url("tiles/original/cellFloor0.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.camera {
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 3s linear;
}

.tile {
  position: absolute;
  background: #888;
  transform-style: preserve-3d; 
  box-sizing: border-box;
  backface-visibility: visible;
  text-align: center;
  font-size: 200%;
  padding-top: 40%;
  font-weight: bold;
  width: 100%;
  height: 75%;
}

.debug .tile {
  border: 1px solid lime;
}

.back {
  transform: translateZ(-200px);
}

.front {
  transform: translateZ(0);
}

.ceiling {
  transform-origin: top;
  transform: rotateX(-90deg);
  background: url("tiles/ceil.png");
  height: 100%;
}

.left {
  transform-origin: left;
  transform: rotateY(90deg);
}

.right {
  transform-origin: right;
  transform: rotateY(-90deg);
}

.wall {
  background: url("tiles/original/wallPiece1_1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.floor {
  transform-origin: bottom;
  transform: translateY(-33%) rotateX(90DEG);
  /* background: url("tiles/floor3.png"); */
  background-size: 33.3%;
  height: 100%;
}

.cell {
  transform-style: preserve-3d; 
  position: absolute;
}

.monster {
  transform: translateY(-33%) translateZ(-100px);
  /* background: url("sprites/bull.png"); */
  background: none;
  image-rendering: pixelated;
  background-position: center bottom;
  height: 100%;
  width: 75%;
}

.debug .monster {
  border: 1px solid red;
}

#map {
  position: absolute;
  right: 2px;
  bottom: 2px;
  transform-origin: center;
  background: #333;
}

#map2 {
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.map-cell {
  position: absolute;
}

.map-cell.wall { background-size: 100%; }
.map-cell.monster { 
  background: url('map/skull.png'), gray;
  background-size: 66%;
  background-repeat: no-repeat;
  background-position: center;
}

.player {
  background: blue;
}
